<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuxania</title>
    <!--link to the css style sheet-->
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/mystyles.css">

    <link rel="icon" type="image/png" href="../Images/hdt.png">

    
   <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>
<body>
<div class="news-content">
  <h1 id="news-title"></h1>
  <h3 id="news-subtitle"></h3>
  <img id="news-image" src="" alt="">
  <p id="news-detail"></p>
</div>



</body>


</html>
