<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuxania/HR</title>
    <!--link to the css style sheet-->
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/mystyles.css">

    <link rel="icon" type="image/png" href="../Images/hdt.png">

    
   <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>
<body>
    <!-- Header section -->
    


  <!--- HEADER -->

  <header>

    <!-- <div class="header-top"> -->


        <!-- Social Links -->


      <!-- <div class="container">

        <ul class="header-social-container">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul> -->

        <!-- <div class="header-alert-news">
          <p>
            <b>Free Shipping</b>
            This Week Order Over - $55
          </p>
        </div> -->

        <!-- <div class="header-top-actions">

          <select name="currency">

            <option value="usd">USD &dollar;</option>
            <option value="eur">EUR &euro;</option>

          </select>

          <select name="language">

            <option value="en-US">English</option>
            <option value="es-ES">Espa&ntilde;ol</option>
            <option value="fr">Fran&ccedil;ais</option>

          </select>

        </div> -->

      <!-- </div> -->

    <!-- </div> -->

    <div class="header-main">

      <div class="container">
        <!--Logo Goes here-->


        <a href="#" class="header-logo">
          <img src="../Images/hdt-logo.png" alt="Hdt Logo" width="auto" height="150">
        </a>

        <div class="header-search-container">

          <input type="search" name="search" class="search-field" placeholder="Search Bar...">

          <button class="search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>

        </div>

        

      </div>

    </div>

    <nav class="desktop-navigation-menu">
  
        <div class="container">
  
          <ul class="desktop-menu-category-list">
  
            <li class="menu-category">
              <a href="Home.html" class="menu-title">Home</a>
            </li>
  
            <li class="menu-category">
              <a href="Applications.html" class="menu-title">Applications</a>
  
              <div class="dropdown-panel">
  
                <ul class="dropdown-panel-list">
  
                  <li class="menu-title">
                    <a href="#">Operations</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Operational Dashboard</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Production Reports</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Machine Operator Training DB</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Ignition Allwork-Supervisor</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Scrap Entry</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Leader Standard Work</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Machine Training Checklist</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">5S Checklist</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">MIIC Area Scheduler</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Service Orders Dashboard</a>
                  </li>
  
                  <!-- <li class="panel-list-item">
                    <a href="#">
                      <img src="./assets/images/electronics-banner-1.jpg" alt="headphone collection" width="250"
                        height="119">
                    </a>
                  </li> -->
  
                </ul>
  
                <ul class="dropdown-panel-list">
  
                  <li class="menu-title">
                    <a href="#">More Operations</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">PRS DB</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Orders to be Shipped</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Cutter - Aluminum</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Cutters - Steel</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Cutters - Cap C</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Hose Cutter</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Crimpers - Steel 3/8"</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Crimpers - Steel 1/2" 5/8"</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Rivian - Hose Cutter</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Rivian - Crimpers</a>
                  </li>
  
                  .
  
                  <!-- <li class="panel-list-item">
                    <a href="#">
                      <img src="./assets/images/electronics-banner-2.jpg" alt="mouse collection" width="250" height="119">
                    </a>
                  </li> -->
  
                </ul> 
  
                 <ul class="dropdown-panel-list">
  
                  <li class="menu-title">
                    <a href="#">Quality</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">CAR Database</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Layered Process Audit</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">NCR/RMA Database</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Quality Alert</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">EPC Containment Log DB</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">SQRP DB</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">eBinder Admin</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Supplier Quality Database</a>
                  </li>
  
                </ul>
  
                 <ul class="dropdown-panel-list">
  
                  <li class="menu-title">
                    <a href="#">HR</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Job Rotation</a>
                  </li>
                  
                  <li class="panel-list-item">
                    <a href="#">Temperature Sensor</a>
                  </li>
  
                  <li class="menu-title" style="margin-top: 10px;">
                    <a href="#">Material</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">List of High Demand Materials</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Logistics Portal</a>
                  </li>
  
                  
  
                  <li class="menu-title" style="margin-top: 10px;">
                    <a href="#">Maintenance</a>
                  </li>                
                  
                  <li class="panel-list-item">
                    <a href="#">Predictive Maintenance</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">Maintenance & Work Orders DB</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#">PM System</a>
                  </li>
  
                  <li class="panel-list-item">
                    <a href="#"></a>
                  </li>
  
                </ul>
  
               
  
              </div>
            </li> 
  
            <li class="menu-category">
              <a href="" class="menu-title" id="hrLink">Quality</a>
  
              <ul class="dropdown-list">
  
                <li class="dropdown-item">
                  <a href="#">Report Incident</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Emergency Contact List</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Employement Insurance</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">H&S Policy</a>
                </li>
  
              </ul>
            </li>
  
  
            <li class="menu-category">
              <a href="HR.html" class="menu-title" id="hrLink">H.R.</a>
  
              <ul class="dropdown-list">
  
                <li class="dropdown-item">
                  <a href="#">Report Incident</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Emergency Contact List</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Employement Insurance</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">H&S Policy</a>
                </li>
  
              </ul>
            </li>
  
            <!-- <li class="menu-category">
              <a href="#" class="menu-title">I.T.</a>
  
              <ul class="dropdown-list">
  
                <li class="dropdown-item">
                  <a href="#">IT Ticket System Form</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Blah</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Blah</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Blah</a>
                </li>
  
              </ul>
            </li> -->
  
            <li class="menu-category">
              <a href="" class="menu-title">Operations</a>
  
              <ul class="dropdown-list">
  
                <li class="dropdown-item">
                  <a href="#">Machine Location</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Contingency Plan</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">eBinder Admin</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Purchasing Dashboard</a>
                </li>
  
              </ul>
            </li>
  
            <!-- <li class="menu-category">
              <a href="#" class="menu-title">Quality</a>
  
              <ul class="dropdown-list">
  
                <li class="dropdown-item">
                  <a href="#">Blah</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Blah</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Blah</a>
                </li>
  
                <li class="dropdown-item">
                  <a href="#">Blah</a>
                </li>
  
              </ul>
            </li> -->
  
            <li class="menu-category">
              <a href="Forms.html" class="menu-title">Forms</a>
            </li>
  
            <li class="menu-category">
              <a href="#" class="menu-title">Automotive Links</a>
              
              
              <ul class = "dropdown-list">
              <li class="dropdown-item">
                <a href="#">Automotive News</a>
              </li>
  
              <li class="dropdown-item">
                <a href="#">GM Supply Power</a>
              </li>
  
              <li class="dropdown-item">
                <a href="#">Covisint Connect</a>
              </li>
  
              <li class="dropdown-item">
                <a href="#">Valeo Supplier Portal</a>
              </li>
  
              <li class="dropdown-item">
                <a href="#">CAMI Supplier Portal</a>
              </li>
  
              <li class="dropdown-item">
                <a href="#">FCA</a>
              </li>
  
              <li class="dropdown-item">
                <a href="#">Denso</a>
              </li>
  
              <li class="dropdown-item">
                <a href="#">Magna</a>
              </li>
  
              <li class="dropdown-item">
                <a href="#">Daimler</a>
              </li>
  
              <li class="dropdown-item">
                <a href="#">Brose</a>
              </li>
  
              <li class="dropdown-item">
                <a href="#">Bend All Email</a>
              </li>
  
              
  
  
            </li>
  
          </ul>
  
        </div>
  
      </nav>
     
  </header>








    <!--
      - BANNER
    -->



    <div class="banner">

        <div class="container">
  
          <div class="slider-container has-scrollbar">
  
            <div class="slider-item">
  
              <img src="../Images/banner/head.png" alt="Automotive Innovations" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle">Automotive Innovations</p>
  
                <h2 class="banner-title">New discoveries in the field of Automotive</h2>
  
                <!-- <p class="banner-text">
                  starting at &dollar; <b>20</b>.00
                </p> -->
  
                <a href="#" class="banner-btn">Read More</a>
  
              </div>
  
            </div>
  
            <div class="slider-item">
  
              <img src="../Images/banner/grass.jpg" alt="modern sunglasses" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle">Mushrooms Everywhere</p>
  
                <h2 class="banner-title">I want Mushrooms</h2>
  
                <!-- <p class="banner-text">
                  starting at &dollar; <b>15</b>.00
                </p> -->
  
                <a href="#" class="banner-btn">Read More</a>
  
              </div>
  
            </div>
  
            <div class="slider-item">
  
              <img src="../Images/banner/sky.jpg" alt="new fashion summer sale" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle">Beach</p>
  
                <h2 class="banner-title">Fun Fact: White sand beaches come from parrotfish doodoo.</h2>
  
                
                <a href="#" class="banner-btn">Read More</a>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
    </nav>
    </header>
    <main>

        <!--
      - PRODUCT
    -->

    <div class="product-container">

        <div class="container">
  
  
          <!--
            - SIDEBAR
          -->
          <div class="sidebar-container">
          <div class="sidebar  has-scrollbar" data-mobile-menu>
  
            <div class="sidebar-category">
  
                <!-- Favorites Bar-->
  
                  <div class="sidebar-top" >
                    <h2 class="sidebar-title">Favorite Links</h2>
      
                    <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                      <ion-icon name="close-outline"></ion-icon>
                    </button>
                  </div>
                  <ul id="favorite-links-list" class="sidebar-menu-category-list">
    
    
                    <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
        
                      <p class="menu-title">Disney</p>
                    </div>
  
                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
   
                      <p class="menu-title">Minecraft</p>
                    </div>
  
                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
  
  
                      <p class="menu-title">Elden Rings</p>
                    </div>
  
                  <button class="sidebar-accordion-menu" data-accordion-btn>
                  </ul>
                </li>
              </ul>      
              <div class="add-event">
                <button class="add-event-button-blue" onclick="openModal()">+</button>
            </div>     
  
  
            <div class="sidebar-top">
              <h2 class="sidebar-title" style="margin-top: 50px;">Quick Links</h2>
  
              <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </div>
  
            <ul class="sidebar-menu-category-list">
  
  
                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                  <div class="menu-title-flex">
                    <!-- <img src="./assets/images/icons/dress.svg" alt="clothes" width="20" height="20"
                      class="menu-title-img">
  -->
                    <p class="menu-title">CAR DATABASE</p>
                  </div>
  
                <button class="sidebar-accordion-menu" data-accordion-btn>
  
                  <div class="menu-title-flex">
                    <!-- <img src="./assets/images/icons/shoes.svg" alt="footwear" class="menu-title-img" width="20"
                      height="20"> -->
  
                    <p class="menu-title">CI Tracker</p>
                  </div>
  
                <button class="sidebar-accordion-menu" data-accordion-btn>
  
                  <div class="menu-title-flex">
                    <!-- <img src="./assets/images/icons/jewelry.svg" alt="clothes" class="menu-title-img" width="20"
                      height="20"> -->
  
                    <p class="menu-title">IT Ticket Tracker</p>
                  </div>
  
                <button class="sidebar-accordion-menu" data-accordion-btn>
  
                  <div class="menu-title-flex">
                    <!-- <img src="./assets/images/icons/perfume.svg" alt="perfume" class="menu-title-img" width="20"
                      height="20"> -->
  
                    <p class="menu-title">Logistics Portal</p>
                  </div>
  
                <button class="sidebar-accordion-menu" data-accordion-btn>
  
                  <div class="menu-title-flex">
                    <!-- <img src="./assets/images/icons/cosmetics.svg" alt="cosmetics" class="menu-title-img" width="20"
                      height="20"> -->
  
                    <p class="menu-title">Predictive Maintain</p>
                  </div>
  
                <button class="sidebar-accordion-menu" data-accordion-btn>
  
                  <div class="menu-title-flex">
                    <!-- <img src="./assets/images/icons/glasses.svg" alt="glasses" class="menu-title-img" width="20"
                      height="20"> -->
  
                    <p class="menu-title">Machine Training</p>
                  </div>
  
                <button class="sidebar-accordion-menu" data-accordion-btn>
  
                  <div class="menu-title-flex">
                    <!-- <img src="./assets/images/icons/bag.svg" alt="bags" class="menu-title-img" width="20" height="20"> -->
  
                    <p class="menu-title">PM Systems</p>
                  </div>
  
                </ul>
  
              </li>
  
            </ul>
            
          </div>
      </div>
  </div>


<!-- Modal for adding new favorite link -->
<div id="addLinkModal" class="modal">
  <div class="modal-content">
      <!-- <span class="close" onclick="closeModal()">&times;</span> -->
      <h2>Add a New Favorite Link</h2>
      <div class="form-group" style="margin-left: -70%;">
          <label for="newLinkName">Name:</label>
          <input type="text" id="newLinkName" placeholder="Enter the name">
      </div>
      <div class="form-group">
          <label for="newLinkURL">Link:</label>
          <input type="text" id="newLinkURL" placeholder="Enter the link">
      </div>
      <button class="close-popup-button" onclick="closeModal()">Close</button>
      <button class="add-link-button" onclick="addFavoriteLink()">Add Link</button>
  </div>
</div>


  <!--
      - PRODUCT
    -->

    <div class="product-container">

        <div class="container">
  
  
          <!--
            - SIDEBAR
          -->
          <div class="sidebar-container" style="margin-left: 263%;" >
          <div class="sidebar  has-scrollbar" data-mobile-menu style="width: 160%;">
  
            <div class="sidebar-category">
  
              <div class="sidebar-top">
                <h2 class="sidebar-title">HR Links</h2>
  
                <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                  <ion-icon name="close-outline"></ion-icon>
                </button>
              </div>
  
              <ul class="sidebar-menu-category-list">
  
  
                    <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/dress.svg" alt="clothes" width="20" height="20"
                        class="menu-title-img">
   -->
                      <p class="menu-title">Report Incident</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/shoes.svg" alt="footwear" class="menu-title-img" width="20"
                        height="20"> -->
  
                      <p class="menu-title">Emergency Contact List</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/jewelry.svg" alt="clothes" class="menu-title-img" width="20"
                        height="20"> -->
  
                      <p class="menu-title">MSDS Online</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/perfume.svg" alt="perfume" class="menu-title-img" width="20"
                        height="20"> -->
  
                      <p class="menu-title">Enviornmental Policies</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/cosmetics.svg" alt="cosmetics" class="menu-title-img" width="20"
                        height="20"> -->
  
                      <p class="menu-title">H&S Policy</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/glasses.svg" alt="glasses" class="menu-title-img" width="20"
                        height="20"> -->
  
                      <p class="menu-title">EMS aspects/impact register</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/bag.svg" alt="bags" class="menu-title-img" width="20" height="20"> -->
  
                      <p class="menu-title">EMS Objectives & Targets</p>
                    </div>

                    <button class="sidebar-accordion-menu" data-accordion-btn>
  
                        <div class="menu-title-flex">
                          <!-- <img src="./assets/images/icons/bag.svg" alt="bags" class="menu-title-img" width="20" height="20"> -->
      
                        <p class="menu-title">EMS Manual</p>
                        </div>

                    <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                              <!-- <img src="./assets/images/icons/bag.svg" alt="bags" class="menu-title-img" width="20" height="20"> -->
          
                        <p class="menu-title">Employee HandBook</p>
                    </div>

                  </ul>
  
                </li>
  
              </ul>
            </div>
          </div>
        </div>




    
    
    
    
    
    
    
    
    
    </main>
    
    
    
    
    
    
     <!-- Footer Section -->
     <footer>
        <div class="footer-container">
            <div class="footer-left">
                <!-- <h1>HDT Automotive</h1> -->
                <div class="contact-info">
                  <img src="../Images/hdt-logo.png" alt="Hdt Logo" width="auto" height="150" class="footer-img">
  
                    <p><strong>Contact us</strong></p>
                    <p><strong>Address</strong><br>575 Waydom Dr</p>
                    <p><strong>E-mail</strong><br><a href="mailto:Example@gmail.com">Example@gmail.com</a></p>
                    <p><strong>Phone</strong><br>+1 (519) 623-2002</p>
                </div>
                <div class="follow-us">
                    <p><strong>Follow us</strong></p>
                    <a href="#"><img src="../Images/socials/linkedin.png" alt="LinkedIn"></a>
                    <a href="#"><img src="../Images/socials/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="../Images/socials/instagram.png" alt="Instagram"></a>
                </div>
            </div>
            <div class="footer-right">
                <form action="#" method="POST">
                    <input type="text" name="name" placeholder="Name">
                    <input type="email" name="email" placeholder="E-Mail">
                    <textarea name="message" placeholder="How can we help?"></textarea>
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </footer>  
    
    
    
</body>
<script src="../javascript/script.js"></script>


<script src="../javascript/favorites.js"></script>
<script src="../javascript/events.js"></script>

<!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>