<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuxania</title>
    <!--link to the css style sheet-->
    <!-- <link rel="stylesheet" href="../styles/styles.css"> -->
    <link rel="stylesheet" href="../styles/style-prefix.css">
    <link rel="stylesheet" href="../styles/mystyles.css">

    
   <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>
<body>
    <!-- Header section -->
    


  <!--- HEADER -->

  <header>

    <!-- <div class="header-top"> -->


        <!-- Social Links -->


      <!-- <div class="container">

        <ul class="header-social-container">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul> -->

        <!-- <div class="header-alert-news">
          <p>
            <b>Free Shipping</b>
            This Week Order Over - $55
          </p>
        </div> -->

        <!-- <div class="header-top-actions">

          <select name="currency">

            <option value="usd">USD &dollar;</option>
            <option value="eur">EUR &euro;</option>

          </select>

          <select name="language">

            <option value="en-US">English</option>
            <option value="es-ES">Espa&ntilde;ol</option>
            <option value="fr">Fran&ccedil;ais</option>

          </select>

        </div> -->

      <!-- </div> -->

    <!-- </div> -->

    <div class="header-main">

      <div class="container">
        <!--Logo Goes here-->


        <a href="#" class="header-logo">
          <img src="../Images/hdt-logo.svg" alt="Hdt Logo" width="150" height="100">
        </a>

        <div class="header-search-container">

          <input type="search" name="search" class="search-field" placeholder="Search Bar...">

          <button class="search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>

        </div>

        

      </div>

    </div>

    <nav class="desktop-navigation-menu">

      <div class="container">

        <ul class="desktop-menu-category-list">

          <li class="menu-category">
            <a href="#" class="menu-title">Home</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Quality</a>

            <div class="dropdown-panel">

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">Ignition Applications</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Operational Dashboard</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Production Reports</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Job Rotations</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Ignition Allwork-Supervisor</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Scrap Entry</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Leader Standard Work</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Temperature Sensor</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">5S Checklist</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">MIIC Area Scheduler</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Service Orders Dashboard</a>
                </li>

                <!-- <li class="panel-list-item">
                  <a href="#">
                    <img src="./assets/images/electronics-banner-1.jpg" alt="headphone collection" width="250"
                      height="119">
                  </a>
                </li> -->

              </ul>

               <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">Ignition Kanban</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Cutters - Aluminium</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Cutters - Steel</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Cutter - Cap C</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Hose Cutters</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Crimpers - Steel 3/8"</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Crimpers - Steel 1/2 5/8"</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Rivian - Hose Cutter</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Rivian - Crimpers</a>
                </li>

              </ul>

               <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">Other Links</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Quality Alert Database</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">eBinder</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">CAR Database</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Layered Process Audit</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">NCR Database</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">EPC Containment Log</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">SPQR Database</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Blah</a>
                </li>

              </ul>

              <!-- <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">Electronics</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Smart Watch</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Smart TV</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Keyboard</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Mouse</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">Microphone</a>
                </li>

                <li class="panel-list-item">
                  <a href="#">
                    <img src="./assets/images/electronics-banner-2.jpg" alt="mouse collection" width="250" height="119">
                  </a>
                </li>

              </ul> --> 

            </div>
          </li> 

          <li class="menu-category">
            <a href="#" class="menu-title">H.R.</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="#">Report Incident</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Emergency Contact List</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Employement Insurance</a>
              </li>

              <li class="dropdown-item">
                <a href="#">H&S Policy</a>
              </li>

            </ul>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">I.T.</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="#">IT Ticket System Form</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Blah</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Blah</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Blah</a>
              </li>

            </ul>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Operations</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="#">Machine Location</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Contingency Plan</a>
              </li>

              <li class="dropdown-item">
                <a href="#">eBinder Admin</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Purchasing Dashboard</a>
              </li>

            </ul>
          </li>

          <!-- <li class="menu-category">
            <a href="#" class="menu-title">Quality</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="#">Blah</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Blah</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Blah</a>
              </li>

              <li class="dropdown-item">
                <a href="#">Blah</a>
              </li>

            </ul>
          </li> -->

          <li class="menu-category">
            <a href="#" class="menu-title">Forms</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Automotive Links</a>
            
            
            <ul class = "dropdown-list">
            <li class="dropdown-item">
              <a href="#">Automotive News</a>
            </li>

            <li class="dropdown-item">
              <a href="#">GM Supply Power</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Covisint Connect</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Valeo Supplier Portal</a>
            </li>

            <li class="dropdown-item">
              <a href="#">CAMI Supplier Portal</a>
            </li>

            <li class="dropdown-item">
              <a href="#">FCA</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Denso</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Magna</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Daimler</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Brose</a>
            </li>

            <li class="dropdown-item">
              <a href="#">Bend All Email</a>
            </li>

            


          </li>

        </ul>

      </div>

    </nav>
     <div class="mobile-bottom-navigation">

        <button class="action-btn" data-mobile-menu-open-btn>
          <ion-icon name="menu-outline"></ion-icon>
        </button>
  
        <button class="action-btn">
          <ion-icon name="people-outline"></ion-icon>
  
          <!-- <span class="count">0</span> -->
        </button>
  
        <button class="action-btn">
          <ion-icon name="cog-outline"></ion-icon>
        </button>
  
        <button class="action-btn">
          <ion-icon name="desktop-outline"></ion-icon>
<!-- <span class="count">0</span> -->
        </button>
  
        <button class="action-btn" data-mobile-menu-open-btn>
          <ion-icon name="grid-outline"></ion-icon>
        </button>
  
      </div>
    </nav>

  </header>








    <!--
      - BANNER
    -->



    <div class="banner">

        <div class="container">
  
          <div class="slider-container has-scrollbar">
  
            <div class="slider-item">
  
              <img src="../Images/head.png" alt="Automotive Innovations" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle">Automotive Innovations</p>
  
                <h2 class="banner-title">New discoveries in the field of Automotive</h2>
  
                <!-- <p class="banner-text">
                  starting at &dollar; <b>20</b>.00
                </p> -->
  
                <a href="#" class="banner-btn">Read More</a>
  
              </div>
  
            </div>
  
            <div class="slider-item">
  
              <img src="../Images/grass.jpg" alt="modern sunglasses" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle">Mushrooms Everywhere</p>
  
                <h2 class="banner-title">I want Mushrooms</h2>
  
                <!-- <p class="banner-text">
                  starting at &dollar; <b>15</b>.00
                </p> -->
  
                <a href="#" class="banner-btn">Read More</a>
  
              </div>
  
            </div>
  
            <div class="slider-item">
  
              <img src="../Images/sky.jpg" alt="new fashion summer sale" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle">Sale Offer</p>
  
                <h2 class="banner-title">New fashion summer sale</h2>
  
                
                <a href="#" class="banner-btn">Read More</a>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
    </nav>
    </header>
    <main>


    <!--
      - PRODUCT
    -->

    <div class="product-container">

        <div class="container">
  
  
          <!--
            - SIDEBAR
          -->
  
          <div class="sidebar  has-scrollbar" data-mobile-menu>
  
            <div class="sidebar-category">
  
              <div class="sidebar-top">
                <h2 class="sidebar-title">Quick Links</h2>
  
                <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                  <ion-icon name="close-outline"></ion-icon>
                </button>
              </div>
  
              <ul class="sidebar-menu-category-list">
  
  
                    <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/dress.svg" alt="clothes" width="20" height="20"
                        class="menu-title-img">
   -->
                      <p class="menu-title">CAR DATABASE</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/shoes.svg" alt="footwear" class="menu-title-img" width="20"
                        height="20"> -->
  
                      <p class="menu-title">CI Tracker</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/jewelry.svg" alt="clothes" class="menu-title-img" width="20"
                        height="20"> -->
  
                      <p class="menu-title">IT Ticket Tracker</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/perfume.svg" alt="perfume" class="menu-title-img" width="20"
                        height="20"> -->
  
                      <p class="menu-title">Logistics Portal</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/cosmetics.svg" alt="cosmetics" class="menu-title-img" width="20"
                        height="20"> -->
  
                      <p class="menu-title">Predictive Maintenance</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/glasses.svg" alt="glasses" class="menu-title-img" width="20"
                        height="20"> -->
  
                      <p class="menu-title">Machine Training</p>
                    </div>

                  <button class="sidebar-accordion-menu" data-accordion-btn>
  
                    <div class="menu-title-flex">
                      <!-- <img src="./assets/images/icons/bag.svg" alt="bags" class="menu-title-img" width="20" height="20"> -->
  
                      <p class="menu-title">PM Systems</p>
                    </div>
  
                    
                  </ul>
  
                </li>
  
              </ul>
  
            </div>
          </div>
          
          <div class="forms">
            <div class="column">
                <h1 class="name">Forms</h1>
            </div>
            <button class="responsive-button">Leave of Absence</button>
            <button class="responsive-button">SafetyBoot Reimburse</button>
            <button class="responsive-button">Course Reimburse</button>
        </div>
        
        <div class="forms">
            <button class="responsive-button">Request Shipping</button>
            <button class="responsive-button">Mileage Report</button>
            <button class="responsive-button">Phone Directory</button>
        </div>
        
        <div class="forms">
            <button class="responsive-button">Operating Policy</button>
            <button class="responsive-button">HR Forms</button>
        </div>
        
        
  </main>
   
   
   <!-- Body section -->
    <div style="background-color: white; height: 100vh;"></div>

    <!-- Footer section -->
    <footer></footer>
</body>
<script src="../javascript/script.js"></script>
<!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>