/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
    /* Colors */
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pink: hsl(0, 100%, 51%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);
  
    /* Typography */
    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;
  
    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
  
    /* Border-radius */
    --border-radius-md: 10px;
    --border-radius-sm: 5px;
  
    /* Transition */
    --transition-timing: 0.2s ease;
}

/* Base button style */
.forms-section {
    width: 100%;
    max-width: 500px;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-left: 10%;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-left: 0;
}

.forms h1 {
    font-size: 1.5em;
    color: var(--eerie-black);
    margin-top: -1.6em;
    text-transform: initial;
    line-height: 1.2;
    margin-left: -50%;
}

.responsive-button, .responsive-button-dark {
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: #ffffffdc;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: var(--fs-7);
    font-weight: var(--weight-600); 
    text-transform: uppercase;
    margin-top: 1em;
    width: 100%;
    max-width: 220px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.responsive-button-dark {
    background-color: #ffffffde;
    border: none;
}

.button-icon {
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
}

.responsive-button:hover, .responsive-button-dark:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

/*-----------------------------------*\
  #EVENTS SECTION
\*-----------------------------------*/

.event {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 90px;
    margin-right: -52%;
    margin-left: 40%;
}

.event-date {
    background-color: #f02222;
    color: white;
    text-align: center;
    padding: 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event-h1 {
    font-size: x-large;
    color: black;
    text-transform: initial;
    line-height: 1.2;
    margin-left: 40%;
}

.date-day {
    font-size: 24px;
    font-weight: bold;
}

.date-month {
    font-size: 14px;
}

.event-description {
    padding: 10px;
    flex: 1;
}

.add-event {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.add-event-button {
    background-color: #ee2d47;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    margin-left: 130%;
    margin-right: -52%;
}

.add-event-button-blue {
    background-color: #ee2d47;
    color: white;
    border: none;
    border-radius: 70%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    margin-left: 6em;
}

.add-event-button:hover {
    background-color: #000000;
    color: white;
}

.add-event-button-blue:hover {
    background-color: #000000;
    color: white;
}

/* Event Modal Styles */
.event-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.event-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.event-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.event-modal-close:hover,
.event-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/*-------------------------------------*\
    #JOB SECTION
\*-------------------------------------*/
.job {
    padding: 60px 0;
    margin-top: -25%;
    margin-left: 22%;
}

.job-content {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.single-job-item {
    flex: 0 0 45%;
    width: 350px;
    margin-right: 3%;
    margin-bottom: 30px;
    box-shadow: 0 0px 5px rgba(71, 71, 71, .2);
    transition: .3s;
    scroll-snap-align: start;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.single-job-item-img {
    flex: 0 0 auto;
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.single-job-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-job-item-txt {
    padding: 25px 28px 27px;
    flex: 1 0 auto;
}

.single-job-item-txt h2 a {
    text-transform: initial;
    line-height: 1.2;
    font-size: large;
}

.single-job-item-txt h4 {
    font-size: 14px;
    color: #8f949d;
    font-weight: 400;
    margin: 12px 0 20px;
}

.single-job-item-txt h4 a {
    font-size: 14px;
    padding-right: 14px;
    border-right: 1px solid #dde0e4;
    margin-right: 15px;
    text-transform: uppercase;
}

.single-job-item:hover h2 a {
    color: #ff0008;
}

.single-job-item:hover {
    box-shadow: 0 10px 20px rgba(21, 19, 19, .4);
}

.add-job-button{
    background-color: #ee2d47;
    color: white;
    border: none;
    border-radius: 70%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    margin-left: 6em;
}

.add-job-button:hover {
    background-color: #000000;
    color: white;
}

/* Media queries to handle layout adjustments */
@media (max-width: 1200px) {
    .job {
        margin-top: 0;
        margin-left: 0;
        padding: 20px;
    }

    .single-job-item {
        flex: 0 0 48%;
        max-width: 48%;
        margin-right: 2%;
        margin-top: 30%;
    }

    .single-job-item-img {
        height: 150px;
    }

    .add-job-button {
        margin-left: 0;
        margin-top: 20px;
    }
}





/* Base container style */
.application-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Base application section style */
.application-section {
    width: 150%;
    max-width: 1070px; /* Adjust as needed */
    /* background-color: #ffffff; */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0; /* Adjust margins to separate sections */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -2%;
    margin-bottom: -1%;
}

.application-section:hover{
    box-shadow: 0 10px 20px rgba(102, 214, 214, 0.4);
}

.application {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.application h1 {
    width: 100%;
    font-size: 1.5em;
    color: var(--eerie-black);
    margin: 0;
    text-transform: initial;
    line-height: 1.2;
    text-align: left;
}

.application-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
    margin-top: 0.5em;
    margin-left: 0%;
}

.application-button, .application-button-dark {
    /* flex: 1 1 10%; */
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: #ffffffdc;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: var(--fs-7);
    font-weight: var(--weight-600);
    text-transform: uppercase;
    margin-top: 1em;
    width: 140px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.application-button-dark {
    background-color: #ffffffde;
    border: none;
}

.application-button .button-icon,
.application-button-dark .button-icon {
    width: 55px;
    height: 45px;
    margin-bottom: 10px;
}

.application-button:hover, .application-button-dark:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #000000;
    color: white;
}

.footer-left, .footer-right {
    flex: 1;
    margin: 20px;
}

.footer-img {
    margin-left: 60px;
}

.footer-left h1 {
    margin-bottom: 20px;
    margin-top: 80px;
}

.contact-info p, .follow-us p {
    margin: 5px 0;
    margin-left: 70px;
}

.follow-us a img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 70px;
}

.footer-right form {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    background-color: #cacac9;
    border-radius: 10px;
    padding: 20px;
    width: 330px;
    height: 370px;
}

.footer-right input[type="text"], .footer-right input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.footer-right textarea{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

.footer-right button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
}

.footer-right button:hover {
    background-color: #d00808;
}
/*-----------------------------------*\
  #FORMS
\*-----------------------------------*/

.container-forms {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category-button {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.333% - 20px);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.category-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.category h3 {
    margin-top: 0;
    font-size: large;
}

.category ul {
    list-style-type: none;
    padding: 0;
}

.category li {
    margin: 10px 0;
}

.category a {
    color: #000;
    text-decoration: none;
}

.category a:hover {
    color: #fc0000;
}

/*-----------------------------------*\
  #MODAL STYLING    
\*-----------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    height: 30%;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content .form-group {
    margin-bottom: 15px;
}

.modal-content .form-group label {
    font-size: 16px;
    margin-bottom: 5px;
}

.modal-content .form-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.modal-content .add-link-button {
    width: auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.modal-content .close-popup-button {
    width: auto;
    padding: 10px 20px;
    background-color: #ee2d2d;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin-right: 25%;
}

.modal-content .add-link-button:hover {
    background-color: #218838;
}

.modal-content .close-popup-button:hover {
    background-color: #640404;
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/* Media queries to handle layout adjustments */
@media (min-width: 1920px) {
    .job {
        margin-top: -370px;
        margin-left: 22%;
    }

    .single-job-item {
        flex: 0 0 48%;
        max-width: 400%;
    }
    .add-job-button {
        margin-left: 650px;
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {
    .job {
        margin-top: -290px;
        margin-left: 23%;
        padding: 20px;
    }

    .single-job-item {
        flex: 0 0 48%;
        max-width: 48%;
        margin-right: 2%;
    }

    .single-job-item-img {
        height: 150px;
    }

    .add-job-button {
        margin-left: 650px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .single-job-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .single-job-item-img {
        height: 120px;
    }
    .add-job-button {
        margin-left: 650px;
        margin-top: 20px;
    }
}